<div class="d-flex items-center bg-dark-2 py-10">
    <div class="container">
        <div class="row y-gap-5 justify-between items-center">
            <div class="col-auto">
                <div class="d-flex x-gap-40 y-gap-10 items-center">
                    <div class="d-flex items-center text-white md:d-none">
                        <div class="icon-email mr-10"></div>
                        <div class="text13 lh-1">(00) 242 844 39 88</div>
                    </div>
                    <div class="d-flex items-center text-white">
                        <div class="icon-email mr-10"></div>
                        <div class="text13 lh-1">mihaelalupanciuc@residentiat.ro</div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="d-flex x-gap-30 y-gap-10">
                    <div>
                        <div class="d-flex x-gap-20 items-center text-white">
                            <a href="#"><i class="icon-facebook text-11"></i></a>
                            <a href="#"><i class="icon-twitter text-11"></i></a>
                            <a href="#"><i class="icon-instagram text-11"></i></a>
                            <a href="#"><i class="icon-linkedin text-11"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>