<div class="col-auto">
    <div class="header-left">
        <div class="header__logo ">
            <a data-barba asp-controller="Home" asp-action="Index">
                <img src="~/img/placeholders/general/logo.svg" alt="logo">
            </a>
        </div>

        <div class="header__explore text-green-1 ml-60 xl:ml-30 xl:d-none">
            <a href="#" class="d-flex items-center" data-el-toggle=".js-explore-toggle">
                <i class="icon icon-explore mr-15"></i> Explore
            </a>

            <div class="explore-content py-25 rounded-8 bg-white toggle-element js-explore-toggle">
                <div class="explore__item">
                    <a href="#" class="text-dark-1">Medicina generala</a>
                </div>

                <div class="explore__item">
                    <a href="#" class="text-dark-1">Medicina dentara</a>
                </div>

                <div class="explore__item">
                    <a href="#" class="text-dark-1">Farmacie</a>
                </div>

                <div class="explore__item">
                    <a href="#" class="text-purple-1 underline">View All Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>