@model DoctorFactory.Domain.ViewModels.Identity.SignUpViewModel
@{
    Layout = "_LayoutAccount";
}

<div class="form-page__content lg:py-50">
    <div class="container">
        <div class="row justify-center items-center">
            <div class="col-xl-8 col-lg-9">
                <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">
                    <h3 class="text-30 lh-13">Sign Up</h3>

                    <p class="mt-10">Already have an account? <a asp-controller="Account" asp-action="Login" class="text-purple-1">Log in</a></p>

                    <form class="contact-form respondForm__form row y-gap-20 pt-30" asp-controller="Account" asp-action="SignUp" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="alert-danger"></div>

                        <div class="col-lg-6">
                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Username *</label>
                            <input asp-for="Username" placeholder="Username">
                            <span asp-validation-for="Username"></span>
                        </div>

                        <div class="col-lg-6">
                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Email address *</label>
                            <input asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="col-lg-6">
                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Password *</label>
                            <input asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="col-lg-6">
                            <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Confirm Password *</label>
                            <input asp-for="PasswordConfirm" placeholder="Confirm Password">
                            <span asp-validation-for="PasswordConfirm"></span>
                        </div>

                        <div class="col-12">
                            <button type="submit" name="submit" id="submit" class="button -md -green-1 text-dark-1 fw-500 w-1/1">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>