<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="Partial/_Fonts" />

    <partial name="Partial/_Styles" />

    <title>@ViewBag.Title | Make me a doctor!</title>
</head>

<body class="preloader-visible" data-barba="wrapper">

    <partial name="Partial/_Preloader" />

    @RenderBody()

    <partial name="Partial/_Scripts" />

</body>

</html>