@{
    Layout = "_LayoutBase";
}

<main class="main-content">

    <partial name="Partial/_Header" />

    <div class="content-wrapper js-content-wrapper">

        @RenderBody()

        <partial name="Partial/_Footer" />

    </div>

</main>