<header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header">

    <partial name="Partial/Header/_ContactsInfoLine" />

    <div class="header__container">
        <div class="row justify-between items-center">

            <partial name="Partial/Header/_ExploreMenu" />

            <div class="col-auto">
                <div class="header-right d-flex items-center">
                    <div class="header-right__icons text-white d-flex items-center">
                        <div class="d-none xl:d-block ml-20">
                            <button class="text-white items-center" data-el-toggle=".js-mobile-menu-toggle">
                                <i class="text-11 icon icon-mobile-menu"></i>
                            </button>
                        </div>
                    </div>

                    <div class="header-right__buttons d-flex items-center ml-30 md:d-none">
                        <a href="#" class="button -underline text-white">Log in</a>
                        <a href="#" class="button -sm -white text-dark-1 ml-30">Sign up</a>
                    </div>
                </div>
            </div>

            <partial name="Partial/Header/_MainMenu" />

        </div>
    </div>
</header>